<%-include('../includes/head.ejs')%>
</head>
    <body>
        <%-include('../includes/navigation.ejs')%>
        <main>
            <form action="/auth/login" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <div class="columns">
                    <div class="column is-one-third is-offset-one-third">
                        <div class="field">
                            <label class="label">Email</label>
                            <p class="control has-icons-left">
                            <input class="input" type="email" name="email" >
                            <span class="icon is-small is-left">
                                <i class="far fa-envelope"></i>
                            </span>
                            </p>
                        </div>             
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-one-third is-offset-one-third">
                        <div class="control">
                            <button class="button is-link">Reset password</button>
                        </div>         
                    </div>
                </div> 
            </form>
        </main>
    </body>
</html>