<header class="main-header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <i class="fas fa-cat"></i>
            <img src="https://t4.ftcdn.net/jpg/03/34/53/51/240_F_334535136_vvbWaKEpsHIMS4dpJUxgXZL6clQX7VGs.jpg" width="112" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/products-list">Products</a>
            <a class="navbar-item" href="/cart">Cart</a>
            <a class="navbar-item" href="/checkout">Checkout</a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Admin
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/admin/products-list">Products</a>
                  <a class="navbar-item" href="/admin/add-product">Add product</a>
                </div>
              </div>
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
</header>
<h1><%=pageTitle%></h1>