<%-include('../includes/head.ejs')%>
</head>
<body>
    <%-include('../includes/navigation.ejs')%>
    <div class="columns">
        <div class="column is-one-third is-offset-one-third">
            <article class="message is-danger">
                <p>We're working on fixing this, sorry for the inconvenience</p>
            </article>
        </div>
    </div>
</body>
</html>